body {
  margin: 0;
  padding: 0;
  background-color: #35363c;
  /* #35363c gray deg1 */
  /* #2F3136 gray deg2 */
  /* #202324 gray deg3 */
  /* #FC2F70 rose */
  /* #5965F3 blue */
  /* #E8F0FE selected input*/
}

@font-face {
  font-family: PoppinsBlackt;
  src: url(assets/fonts/Poppins-Black.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins-Black.ttf);
  font-weight: 900;
}

* {
  font-family: Poppins;
  box-sizing: border-box;
}
